@import url("https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .calc-height {
        height: calc(100%-70%);
    }

    .clip {
        clip-path: circle(100%);
    }

    .clip-down {
        clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
    }

    .clip-rec {
        clip-path: polygon(100% 0%, 100% 0%, 100% 100%, 100% 100%);
    }

    .clip-up {
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    }

    .font-size {
        font-size: 15rem;
    }

    .flex-box {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .graph {
        background-size: 40px 40px;
        background-image: radial-gradient(
            circle,
            #000 1px,
            rgba(0, 0, 0, 0) 1px
        );
    }

    .gray {
        filter: grayscale(100%);
    }

    .mid-font-size {
        font-size: 12rem;
    }

    .small {
        font-size: 12px;
    }

    .transparent {
        -webkit-text-stroke-width: 1px;
        -webkit-text-fill-color: transparent;
    }

    .very-small {
        font-size: 12px;
    }
}
